{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AI Detection Study{% endblock %}</title>

  <link rel="stylesheet" href="{% static "/css/base.css" %}">
  <link rel="stylesheet" href="{% static "/css/forms.css" %}">
  <link rel="stylesheet" href="{% static "/css/header.css" %}">
  <link rel="stylesheet" href="{% static "/css/footer.css" %}">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static "/img/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "/img/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "/img/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "/img/site.webmanifest" %}">

  <script defer src="{% static '/js/theme-toggle.js' %}"></script>
</head>

<body>

  <!-- Header -->
  <header>
    <div class="logo"><a href="/">AI Detection Study</a></div>
    <nav>
      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle Theme">
          <svg id="icon-sun" class="icon" viewBox="0 0 24 24">
              <circle cx="12" cy="12" r="5"></circle>
              <line x1="12" y1="1" x2="12" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="23"></line>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
              <line x1="1" y1="12" x2="3" y2="12"></line>
              <line x1="21" y1="12" x2="23" y2="12"></line>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
          </svg>

          <svg id="icon-moon" class="icon hidden" viewBox="0 0 24 24">
              <path d="M21 12.79A9 9 0 1 1 11.21 3
                      7 7 0 0 0 21 12.79z"></path>
          </svg>
      </button>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 Lukas Schaffrath</p>
    <p>
      <a href="/impressum/">Impressum</a> | 
      <a href="/datenschutz/">Datenschutz</a> | 
      <a href="https://www.rwth-aachen.de">RWTH Aachen</a>
    </p>
  </footer>

</body>

<script src="{% static "/js/classify.js" %}"></script>

</html>
