{% extends "study/base.html" %}
{% block content %}
<h2>Your Results</h2>
{% if results %}

<div class="table-responsive">
    <table>
        <tr>
            <th>Text</th>
            <th>Your Classification</th>
            <th>Actual</th>
            <th>Correct?</th>
        </tr>
        {% for r in results %}
        <tr>
            <td>{{ r.text|truncatechars:100 }}</td>
            <td>
                {% if r.classification == "ai" %}
                    AI-generated
                {% else %}
                    Human-written
                {% endif %}
            </td>
            <td>
                {% if r.actual_origin == "ai" %}
                    AI-generated
                {% else %}
                    Human-written
                {% endif %}
            </td>
            <td>
                {% if r.correct %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No results found.</p>
{% endif %}

<div style="margin-top:2rem;">
    <h2>
        You have completed the study!
    </h2>
    <p> Thank you very much for your valuable participation and your time.<br>
        If you are interested in reading the resulting research paper, please feel free to contact me at 
        <a href="mailto:lukas.schaffrath2@rwth-aachen.de">lukas.schaffrath2@rwth-aachen.de</a>.
    </p>
</div>
{% endblock %}