{% extends "study/base.html" %}
{% block title %}Impressum{% endblock %}

{% block content %}
<div class="container">
  <h1>Impressum</h1>

  <p><strong>Angaben gemäß § 5 TMG:</strong></p>
  <p>
    Lukas Schaffrath<br>
    Matr.-Nr.: 411793<br>
    RWTH Aachen University<br>
    Faculty of Arts and Humanities<br>
    English and American Studies<br>
    Cognitive, Digital and Empirical English Studies<br>
    Kármánstr. 17/19, 52062 Aachen, Germany
  </p>

  <p><strong>Kontakt:</strong></p>
  <p>
    E-Mail: <a href="mailto:lukas.schaffrath2@rwth-aachen.de">lukas.schaffrath2@rwth-aachen.de</a><br>
  </p>

  <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong></p>
  <p>Lukas Schaffrath</p>

  <p><strong>Haftungsausschluss:</strong></p>
  <p>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
  </p>
</div>
{% endblock %}
